@import '../../assets/styles/variables.scss';

.Cards {
  @include reset-list;
  display: grid;
  gap: 20px;
}

.Card {
  background-color: $color-block;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: $color-price;
  margin: 0;
}

.logo {
  height: 36px;
  width: 99px;
}

.flight {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  &SubTitle {
    color: $color-text-card-title-item;
    font-size: 12px;
    font-weight: 600;
    margin: 3px 0;

    @media screen and (max-width: $phone) {
      font-size: 10px;
    }
  }

  &Info {
    font-size: 14px;
    font-weight: 600;

    @media screen and (max-width: $phone) {
      font-size: 12px;
    }
  }
}
