$tablet: 800px;
$phone: 500px;

$color-body: #F3F7FA;
$color-block: #ffffff;
$color-active: #2196F3;
$color-price: #2196F3;
$color-checkbox: #9ABBCE;

$color-text-main: #4a4a4a;
$color-text-card-title-item: #A0B0B9;

$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$border-radius: 5px;

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}